/* Navigation */
#navbar{
    flex-direction: column;  
}
#navbar ul li a {
    color: black;
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section  */
#home{
height: 390px;
padding: 3px 68px;
/* flex-direction: column; */
}
#home p{
    font-size: 13px;

}
/* Services section  */
#services{
flex-wrap: wrap;
}
/* client section  */
#client{
    flex-wrap: wrap;
}

/* Contact section  */

/* footer  */

/* Utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;

}
